body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("3raya.gif");

  /* Add the blur effect */
  filter: blur(2px);

  /* Full height */
  height:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: 20%;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  height:50%;
  padding: 20px;
  text-align: center;
}
form{
	font-size:200%;
}

input{
	height:30px;
	border-radius:5px;
}

button{
	width:120px;
	height:30px;
	border-radius:5px;
}

a{
	font-size:60%;
	text-decoration:none;
}
